<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudyAssistant"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        
        <activity 
            android:name=".MainActivity" 
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity 
            android:name=".LoginActivity" 
            android:exported="false" />

        <activity 
            android:name=".RegisterActivity" 
            android:exported="false"
            android:label="Register" />

        <activity 
            android:name=".ProfileActivity" 
            android:exported="false"
            android:label="Profile" />

        <activity 
            android:name=".AIQAActivity" 
            android:exported="false"
            android:label="AI Q&amp;A" />

        <activity 
            android:name=".NoteSummaryActivity" 
            android:exported="false"
            android:label="Note Summary" />

        <activity
            android:name=".CreatePlanActivity"
            android:exported="false"
            android:label="Create Study Plan" />

        <activity
            android:name=".ViewPlanActivity"
            android:exported="false"
            android:label="View Study Plan" />

        <activity android:name=".HistoryPlansActivity" />

        <activity android:name=".PlanDetailActivity" />

    </application>

</manifest>